body{
  background: #fefefe;
}

#container{
  position: relative;
  top: 35px;
  width: 86%;
  background: #eee;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: auto;
  padding: 25px 25px 50px 25px;
  -webkit-box-shadow: 4px 11px 55px 5px rgba(44, 44, 44, 1);
  box-shadow: 0px 5px 65px -10px rgba(33, 33, 33, 1);
  border-radius: 45px 45px 5px 5px;
  margin-bottom: 75px;
}

h3{
  font-size: 1em;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
  margin-bottom: -10px;
}

a.test{
position: relative;
left: 10%;
text-decoration: none;
color: black;

}

a.test::before {
content: url(./clouddata.gif);
}

a:visited{
  color: blue;
}

a:hover{
  text-decoration: none;
  color: #6ba6ff;
}

.content{
  width: 80%;
  background: #ccc;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
  position: relative;
  left: 2%;
  overflow: scroll;
  max-height: 500px;
}

.del{
  display: block;
  top: 30px;
  width: 80%;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
  position: relative;
  left: 4%;
  z-index: 1;
  color: red;
  text-decoration: none;
  text-align: right;
  font-size: x-large;
}

#info{
  margin: auto;
  padding: 5px 0px 10px 60px;
  background: white;
  border-radius: 25px 25px 0px 0px;
  -webkit-box-shadow: inset 0px 5px 45px -15px rgba(33, 33, 33, 1);
  box-shadow: inset 0px 5px 45px -15px rgba(33, 33, 33, 1);
}

#forms{
  position: relative;
  left: 3%;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
}

.info, p {
padding-left: 15px;
}